body {
	margin:0;
	padding:0;
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	background-color:#f0f0f0;
	color:#000000;
}

img { 
	border:0;
}

a {
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	
	color:#3399bb;
	
	text-decoration:none;
}

a:hover {
	color:#00cdfe;
}

#nav {
	margin:0;
	padding:5px;
	
	background-color:#444444;
	
	height:22px;
	width:100%;
}

#nav #navheader {
	float:left;
	margin-left: 7px;
	letter-spacing:12px;
	font-size:12px;
	line-height:20px;
	color:#f0f0f0;
}

#nav #links {
	margin-right:10px;
	float:right;
}

#nav #links a {
	padding: 0 12px;
	color:#f0f0f0;
	font-size:12px;
	line-height:20px;
	letter-spacing:3px;
	text-decoration:none;
}


#nav #links a:hover {
	color:#00cbfe;
}

#nav #links a.selected {
	color:#00cbfe;
	font-weight:bold;
}

#showcase {
	margin:10px;
	padding:0;
	height:400px;
	
	background-color:#ffffff;
}

#content {
	margin:0;
	padding:20px 35px;
	font-family:"Palatino Linotype", Platino, "Book Antiqua", serif;
}

.calendar {
	margin:5px;
	padding:0;
	
	background-image:url('../images/calendar.gif');
	
	width:45px;
	height:56px;
	
	float:left;
}

.calendar .month {
	padding:4px 0 0 0;
	
	width:45px;
	text-align:center;
	
	font-family:"Palatino Linotype", Platino, "Book Antiqua", serif;
	font-style:italic;
	font-size:11px;
	color:#ffffff;
}

.calendar .day {
	margin:0;
	padding:0;
	
	font-family:"Palatino Linotype", Platino, "Book Antiqua", serif;
	font-weight:bold;
	font-style:italic;
	font-size:30px;
	
	width:45px;
	text-align:center;
}

.blog_title a {
	
	margin:10px 5px;
	padding:13px 0 0 0;
	float:left;
	color:#3399bb;
	font-family:"Palatino Linotype", Platino, "Book Antiqua", serif;
	font-weight:bold;
	font-style:italic;
	font-size:30px;
	text-decoration:none;
}

.blog_content {
	margin:5px;
	padding:25px;
	
	border:1px solid #d5d5d5;
	background-color:#ffffff;
	color:#000000;
	
	font-size:16px;
}

#sidebar {
	margin:0 auto;
	width:700px;
	text-align:center;
}

#sidebar ul {
	padding:0;
}

.sidelist ul {
	margin:0;
	padding:0;
}

.sidelist li {

	list-style:none;
	text-align:left;
}

.sidelist {
	margin:15px 50px 15px 0;
	float:left;
	
}

#searchform {
	text-align:left;
}

#bottom {
	color:#f0f0f0;
	margin:0;
	padding:20px;
	
	position:relative;
	bottom:0;
	
	width:100%;
	height:350px;
	font-size:12px;
	
	border-top:1px solid black;
	
	background-color:#444444;
}
