---
layout: blog_base.njk
title: Andrew Walpole - Blog
summary: "The blog of Andrew Walpole. Come along with me on a journey of ramblings and musings, and perhaps maybe a smidge of web development or business and leadership knowledge."
featuredImage: "https://andrewwalpole.com/static/andrewwalpole2.png"
---

<ul class="blog-list" role="list" >
{%- for post in collections.published | reverse -%}

  <li class="blog-list-item">
    <a href="{{post.url}}">
      <article class="post-content">
        <h2>{{post.data.title}}</h2>
        <h3>{{post.date | readableDate}}</h3>
      </article>
    </a>
  </li>

{%- endfor -%}
</ul>
