---
layout: base.njk
title: Andrew Walpole - Blog
data: home
---
<main>
{% include "../_includes/header.njk" %}

<section class="blog">
  <section class="blog-container">
    <h1>Nested Loops</h1>
    <h2>A blog about technology, development and sometimes leadership.</h2>
  </section>
</section>
</main>