
*, body {
	
	padding:0;
	margin:0;
	font-family: 'Lora', Georgia, serif;
	/*background: #990033 url( "_images/shadow.png" ) no-repeat center;
	background-position: 0% 25%;*/
}



#mainSection {
    background-color:#222;  /* #990033 */
}

#resumeSection {
    padding:20px 0;
    padding-bottom:40px;
    background-color:#000;
}

#workSection {
    background-color:#191919;
    background-image: url( "../_images/circuit_tile.png" );
    padding-bottom:40px;
}

.sectionHeader {
    position:relative;
    color:#fefefe;
    font-style:italic;
    font-size:3em;
    max-width:600px;
    
    left:100px;
    top:50px;
}

#lifeSection {
    background: url(../_images/lifebg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#mainframe {
	width:960px;
	height:450px;
	
	position:absolute; 
	top:0;
	left:50%;
	margin-left:-480px;
	margin-top:25vh;
	
}


.section {
    min-height:100vh;
}

.description-text {
	font-size:36px;
	width:100%;
	margin-top:50px;
	font-family: 'Lora', Georgia, serif;
	text-align:center;
	font-weight:400;
	color:#222;	
	font-style:italic;
}

.flip-container {
	-webkit-perspective: 1300;
	-moz-perspective: 1300;
	perspective: 1300;
	
}


.flip-container.flip .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	
	
}

.flip-container, .front, .back {
	width: 960px;
	height: 450px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;

	height:450px;
	position: relative;
	
	-moz-box-shadow: 0px 0px 35px 0px rgba( 0, 0, 0, .5);
	-webkit-box-shadow: 0px 0px 35px 0px rgba( 0, 0, 0, .5 );
	box-shadow: 0px 0px 35px 0px rgba( 0, 0, 0, .5);
	
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}


.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#navcard {
	background-color:#fff;
	height:450px;
}

#nav-flip-button {
	position:absolute;
	bottom:15px;
	left:15px;
	width:74px;
	height:57px;
	background-image: url("../_images/flipicon.png");	
}

#port-flip-button {
	position:absolute;
	bottom:15px;
	right:15px;
	width:74px;
	height:57px;
	background-image: url("../_images/flipicon.png");
	
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-100%);
	
}

ul {
	margin:0;
	padding:0;
}

#fixedNav {
    
    position:fixed;
    top:-100px;
    left:10px;
    
    -webkit-transform: scale(.5, .5);
	-moz-transform: scale(.5, .5);
	transform: scale(50%, 50%);
}

#fixedNav ul li {
	display: block;
	margin: 6px;
}

#nav, #header {
	margin: 10px auto;
	width:616px; /*584px;*/
	text-align:center;
}

#nav ul li {
	display: inline-block;
	margin: 0 2px;
}

#nav ul li a {
	text-decoration:none;
	outline:none;
}

#fixedNav ul li img, #nav ul li a img {
	border:0px;
}

#navcard .content-container {
	padding-top:130px;	
}

.header-text {
	color:#222;
	font-family: 'Lora', Georgia, serif;
	font-size:28px;
	font-weight:700;
	font-style:italic;
}

#header div {
	display:inline-block;
	margin:0 5px;
}

#joystick {
	
}

#portfoliocard {
	
}

#portcontent {
	width:960px;
	height:450px;
	overflow:hidden;
	position:absolute;;
	
}

#portcontent img {

}

#portinfo {
	position:absolute;
	bottom:0px;
	left:0px;
	padding: 2px 10px;
	
	width:960px;
	height:80px;
	
	background-color:rgba( 0, 0, 0, .8 );
	text-shadow: 1px 1px 3px #000;
	
}

.hidden {
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	transition:opacity 1s ease-out;
	opacity: 0;
	
	pointer-events: none;
	cursor: default;
}

.hidden a {
	
}

.vis {
    opacity:1;
}

.visible {
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	transition:opacity 1s ease-out;
	
	opacity: 1;
	
	pointer-events:auto;
	cursor: default;
}

#portinfo .content-title-text {
	margin-top:5px;
	color:#db1d42;
	font-family: 'Lora', Georgia, serif;
	font-size:24px;
	font-weight:700;
	font-style:italic;
}

#portinfo .content-info-text {
	color:#fff;
	font-family: 'Lora', Georgia, serif;
	font-size:16px;
	font-weight:400;
	max-width:830px;
}


/***********

RESUME

************/

#resume-content {
    background-color:#fefefe;
	max-width:960px;
	margin:0 auto;
	min-height:100%;
	padding-top:20px;
	font-size:1em;
}

#resume-content ul {
    list-style:none;
}

#resume-content ul li {
    text-decoration:none;   
    font-size:.8em;
    line-height:2em;
    border-bottom:1px solid #eee;
}

#resume-content .experience-list {
    list-style:square;
    list-style-position:inside;
}

#resume-content .experience-list li {
    border-bottom:0;
    
}


#resume-content .resume-section {
    
	padding:5px;
	padding-bottom:15px;
	max-width:750px;
	background:#fff;
	color:#222;
	text-align:left;
	line-height:1.6em;
}

#resume-content .section-item {
    margin-bottom:15px;
}

#resume-content .badgeicon {
	width:60px;
	display:inline-block;
	margin-right:5px;
}

#resume-content .resumebold {
	font-weight:bold;
	margin: 5px 0;
}

#resume-content .header-text {
	margin-bottom:15px;
}

#resume-content .not_available {
    text-decoration:line-through;
}


/***********

WORK

************/

.project-item {
   
    display:inline-block;
    vertical-align: top;
    
    margin:5px;
    padding:10px;
    
    width:300px;
    height:260px;

    background-color:#000;
}

.project-img {
   
}

.project-info {
    
}

.project-title {
    color:#db1d42;
    margin-top:6px;
    margin-bottom:4px;
    font-size:1.1em;
    font-style:italic;
}

.project-desc {
    color:#fff;
    font-size:.8em;
    line-height:1.4em;
}

#work-content {
    margin:0 auto;
    max-width:960px;
    padding-top:20px;
    margin-top:40px;
}


/***********

LIFE

************/

#life-content {
    position:relative;
    color:#222;
    font-weight:700;
    font-style:italic;
    font-size:3em;
    max-width:600px;
    
    left:50px;
    top:90vh;
}

