body {
    margin: 0;
    padding: 0;
    background-color: #212328;
    font-family: 'Karla', sans-serif;
}

header {
    padding: 30px 30px 0 30px;
    background: #343740 url("../images/brain-bg-pattern.png") -50px -50px;
    text-align: center;
    color: white;
    z-index: -2;
}

header img {
    width: 150px;
    position: relative;
    bottom: 0px;
}

h1 {
    font-family: 'Amiri', serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.2em;
}

h2 {
    font-family: 'Amiri', serif;
    font-style: italic;
    font-size: 2.2rem;
    line-height: 1em;
}

h3 {
    font-family: 'Amiri', serif;
    font-style: italic;
    font-size: 1rem;
}

h4 {
    font-family: 'Amiri', serif;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1em;
}

p {
    line-height: 2em;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}


/*
ABOUT SECTION
*/

#about-me {
    background-color: #ffffff;
}

#main-about {
    padding: 30px;
    background-color: #f1e7ad;
}

#main-about img {
    display: block;
    margin: 0 auto 14px auto;
}

#detailed-about {
    padding: 30px;
}

#detailed-about ul {
    list-style-type: none;
}


/*
LEARNINGS SECTION
*/

#learnings {
    background-color: #343740;
    padding: 40px 60px;
}

#learnings h2 {
    font-size: 2.2rem;
    color: #efefef;
    text-align: justify;
    vertical-align: middle;
}

#learnings h3 {
    color: #efefef;
}


/*
RESUME SECTION
*/

#resume {
    background-color: #ffffff;
    padding: 30px;
}

#resume ul#work-experience,
#resume ul#edu-experience,
#resume ul#work-accomplishments {
    list-style-type: none;
    margin-bottom: 30px;
}

.work-experience-item,
.edu-experience-item {
    margin-bottom: 16px;
}

.work-experience-item span,
.edu-experience-item span {
    display: block;
    font-size: 1rem;
}

.work-experience-item .work-location,
.edu-experience-item .edu-location {
    font-size: 0.8rem;
    color: #666;
}

.work-experience-item .work-title,
.edu-experience-item .degree {
    font-weight: bold;
    font-size: 0.9rem;
}

#work-accomplishments .work-accomplishment {
    margin-bottom: 16px;
}

#capabilities {
    background-color: #f1e7ad;
    padding: 40px 40px 0 40px;
}

#capabilities ul {
    list-style-type: none;
    margin-bottom: 40px;
}

#capabilities .capability {
    list-style-type: none;
    margin-bottom: 14px;
}


/*
PORTFOLIO
*/

#masonry-container {
    list-style-type: none;
}

#masonry-container>li {
    margin: 5px;
    padding: 15px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 2px #111111;
    width: 265px;
}

#portfolio {
    background-color: #343740;
    padding: 30px;
}

#portfolio h2 {
    color: #ffffff;
}

.portfolio-item-content .image {
    width: 100%;
    height: 100px;
}

.filterer {
    margin: 20px 0;
}

.filterer label {
    color: #ddd;
    background-color: #555;
    padding: 6px 20px 6px 20px;
    border-radius: 6px 6px 0 0;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.filterer input[type="text"] {
    display: inline-block;
    border: 0px;
    background-color: #222;
    color: #ddd;
}

.filterer .filter-tags {
    margin: 0;
    text-align: left;
    list-style-type: none;
}

.filterer .filter-tag {
    display: inline-block;
    margin: 0 4px;
    background-color: #555;
    color: #ddd;
    padding: 8px;
    text-decoration: underline;
    cursor: pointer;
}

.filterer .filter-tag.filter-on {
    background-color: #f1e7ad;
    color: #222;
}

#portfolio-modal {
    border-radius: 10px;
    background-color: #f1e7ad;
}

#portfolio-item-content img {
    text-align: center;
    display: block;
    margin: 10px 0px;
    box-shadow: 0px 2px 2px #999;
    border-radius: 10px;
}