---
layout: base.njk
---

<main class="h-track">
  <div class="h-content-container">
    {% include "header.njk" %}
    <section id="about" class="page-section" data-theme="mintchip">
      <h2 class="accented">Ab<br>out</h2>
      <div class="about-grid">
        <div>
          <p>I'm a principal software engineer, focused specifically on web development and engineering leadership. Currently based in San Diego, I'm the Director of Web Development at <a href="https://wearetraina.com" target="_blank" >Traina</a>. I have an A.E. in Software Engineering from Oregon Tech and a B.S. in Web Design &amp; Development from AiCASD.</p>
          <p>Beyond development, I love design, art, leadership, teaching, making, learning and problem solving. When I get a free moment I love to create <a href="https://art.andrewwalpole.com" target="_blank">generative art</a> as well as explore robust-first computation and artificial living-systems via my <a href="https://mfm.rocks" target="_blank">MFM.rocks</a> project.</p>
        </div>
      </div>
    </section>
    
    <section id="blog" class="page-section" data-theme="peachtree" style="display:grid;">
      <h2 class="accented">Bl<br>og</h2>
      <h3 style="max-width:66%;">Ramblings about what I know and what I think I know.</h3>

      <a class="link" style="width:fit-content;height:min-content;" href="/blog"><h2>Read it.</h2></a>

      <div>
        <h4>Latest posts:</h4>

      <ul class="blog-list" role="list" >
      
      {%- for post in collections.published | reverse -%}
        {% if loop.index0 < 4 %}
        <li class="blog-list-item">
          <a href="{{post.url}}">
            <article class="post-content">
              <h3>{{post.data.title}}</h3>
              <h4>{{post.date | readableDate}}</h4>
            </article>
          </a>
        </li>
        {% endif %}        
      {%- endfor -%}
      </ul>
      </div>
    </section>

    
    
    <section id="work" class="page-section" data-theme="berry" style="display:grid;">
      <ul class="blog-list" role="list" >
        <li>
        <h2>Coming sooner or later.</h2>
        </li>
      {%- for post in collections.work | reverse -%}
        <li class="blog-list-item">
          <a href="{{post.url}}">
            <article class="post-content">
              <h3>{{post.data.title}}</h3>
              <h4>{{post.date | readableDate}}</h4>
            </article>
          </a>
        </li>
      {%- endfor -%}
      </ul>
      <h2 class="accented">Wo<br>rk</h2>
      <h3>Occasionally, things get done.</h3>

      
    </section>
    
  
  </div>
</main>