---
layout: base.njk
title: Andrew Walpole - Principal Web Developer
data: home
---

<main>

  {% include "./_includes/header.njk" %}

  {% for section in home.sections %}
    <section class="content-section {{section.classes}}">
      <img loading="lazy" class="content-bg" src="{{section.background}}" alt="">
      <p class="{{section.content.classes}}">{{section.content.copy}}</p>
      {% if section.content.links %}
        <div>
          {% for link in section.content.links %}
        <a href="{{link.link}}" title="{{link.title}}" {% if link.isRemote %}target="_blank" rel="noopener noreferrer"{% endif %}>{{link.copy | safe}}</a>
          {% endfor %}
        </div>
      {% else %}
        <a href="{{section.content.link.link}}" title="{{section.content.link.title}}" {% if section.content.link.isRemote %}target="_blank" rel="noopener noreferrer"{% endif %}>{{section.content.link.copy | safe}}</a>
      {% endif %}
    </section>
    <img loading="lazy" class="divider-bg" src="{{section.divider}}" alt="">
  {% endfor %}
</main>