---


const media_root = '/static/work/3d/'
const media = [
  { 
    m:"armyofjacks.jpg",
    c:"",
    alt:""
  },
  { 
    m:"foodholders.jpg",
    c:"h2",
    alt:""
  },
  { 
    m:"gingerjack.jpg",
    c:"v2",
    alt:""
  },
  { 
    m:"jackmisc.jpg",
    c:"h2",
    alt:""
  },
  { 
    m:"jackorn.jpg",
    c:"",
    alt:""
  },
  { 
    m:"jackheadlight1.mp4",
    c:"v2",
    alt:""
  },
  { 
    m:"jacksign.jpg",
    c:"",
    alt:""
  },
  { 
    m:"jackspinner.jpg",
    c:"",
    alt:""
  },
  { 
    m:"jackheadlight2.mp4",
    c:"v2",
    alt:""
  },
  { 
    m:"pokemon.jpg",
    c:"h2",
    alt:""
  },
  { 
    m:"qdoba.jpg",
    c:"",
    alt:""
  },
  { 
    m:"qdobalightup.jpg",
    c:"v2",
    alt:""
  },
  { 
    m:"qdobaordersign.jpg",
    c:"h2",
    alt:""
  },
  { 
    m:"qdobaorn.jpg",
    c:"",
    alt:""
  },
  { 
    m:"qlight.mp4",
    c:"",
    alt:""
  },
  { 
    m:"taphandle.jpg",
    c:"v2",
    alt:""
  },
  { 
    m:"spirit.jpg",
    c:"h2",
    alt:""
  },
  { 
    m:"tacos.jpg",
    c:"",
    alt:""
  },
  { 
    m:"tacostall.jpg",
    c:"v2",
    alt:""
  },
  { 
    m:"trainat.jpg",
    c:"",
    alt:""
  },
  { 
    m:`<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Hey <a href="https://twitter.com/joeltelling?ref_src=twsrc%5Etfw">@joeltelling</a>, I see your sauce spinner and raise you a Saucy Susan <a href="https://twitter.com/hashtag/3dprinting?src=hash&amp;ref_src=twsrc%5Etfw">#3dprinting</a> <a href="https://twitter.com/hashtag/eggrolls?src=hash&amp;ref_src=twsrc%5Etfw">#eggrolls</a> <a href="https://t.co/IbjgCXGfvo">pic.twitter.com/IbjgCXGfvo</a></p>&mdash; Andrew Walpole (@walpolea) <a href="https://twitter.com/walpolea/status/852900231679168513?ref_src=twsrc%5Etfw">April 14, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`,
    c:"v2",
    alt:""
  },
  { 
    m:`<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Ladies and gentlemen, I give you, the Salsa Susan. <a href="https://twitter.com/hashtag/3dprinted?src=hash&amp;ref_src=twsrc%5Etfw">#3dprinted</a> <a href="https://t.co/xxIbAAjcRA">pic.twitter.com/xxIbAAjcRA</a></p>&mdash; Andrew Walpole (@walpolea) <a href="https://twitter.com/walpolea/status/941403654342324224?ref_src=twsrc%5Etfw">December 14, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`,
    c:"v2",
    alt:""
  }
]
---


<div class="print-gallery">

  { media.map( item => {

    const { m, c, alt } =  item;

    if( m.startsWith('<') ) {

      return (<Fragment set:html={m}/>)
    } else if( m.endsWith('.mp4')) {
      return (<div class='video-container' class:list={[c]}><video src={media_root + m} autoplay playsinline muted loop></video></div>);
    } else {
      return (<img class={c} src={media_root + m}/>);
    }
  })}

</div>


<style lang="scss">

  .print-gallery {

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;

    > * {
      aspect-ratio: 1;
      object-fit:Cover;
    }

    .h2 {
      grid-column: span 2;
      aspect-ratio: 2 / 1;
    }

    .v2 {
      grid-row: span 2;
      aspect-ratio: 1 / 2;
    }

    .h2.v2 {
      aspect-ratio:1;
    }

    .h3 {
      grid-column: span 3;
      aspect-ratio: 3 / 1;

    }
    .v3 {
      aspect-ratio: 1 / 3;
      grid-row: span 3;
    }

    img, blockquote, .video-container {
      width:100%;
      display:block;
      margin:0;
      overflow:hidden;

      video {
        width:100%;
        height:100%;
        object-fit:cover;
      }
    }

    :global(.twitter-tweet-rendered) {
      margin:0;
    }
  }
</style>