<!doctype html>
<html lang="en" ng-app>
<head>
<meta charset="UTF-8">
<title>Andrew Walpole - Interactive Developer</title>

<link rel="stylesheet" href="_css/normalize.css">
<link rel="stylesheet" href="_css/foundation.css">

<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="_css/main.css" />


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

<script src="_js/controllers.js"></script>

<script src="_js/vendor/custom.modernizr.js"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2649266-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
    var onPort = false;
	    
	function flipNav(e) {
		console.log( "clicked nav" );
		document.querySelector(".flip-container").classList.toggle("flip");
		$('#fixedNav').fadeIn();
		onPort = true;
	}
	
	function flipPort(e) {
		console.log( "clicked portfolio" );
		document.querySelector(".flip-container").classList.toggle("flip");
		$('#fixedNav').fadeOut();
		onPort = false;
	}


    $(init);
    
    function init() {
        
        $('#fixedNav').fadeOut(0);
        
        $(window).on('scroll', function() {
            
            console.log($(this).scrollTop());
            console.log($("#mainSection").height());
            if ($(this).scrollTop() >= $("#mainSection").height()-200 ) {
                
                $('#fixedNav').fadeIn();
                
            } else if ($(this).scrollTop() < $("#mainSection").height()-200 && onPort === false) {
                
                $('#fixedNav').fadeOut();
                
            }
        });
        
    }
    
    function scrollTo( elementID ) {
        $('html, body').animate({ scrollTop: $( "#"+elementID ).offset().top }, 1000, function() {
            document.location.hash = elementID;
        });
    }
    
	function setDesc( t ) {
		document.querySelector(".description-text").innerHTML = t;
	}
</script>

</head>
<body ng-controller="WebsiteCtrl">

<div id="fixedNav">
    <ul>
        <li><a href="javascript:void(0)" onclick="scrollTo('mainSection');"><img src="_images/homeicon.png" ></a></li>
        <li><a href="javascript:void(0)" onclick="scrollTo('resumeSection');"><img src="_images/brainicon.png" ></a></li>
        <li><a href="javascript:void(0)" onclick="scrollTo('workSection');" ><img src="_images/gearicon.png" ></a></li>
        <li><a href="http://art.andrewwalpole.com/preview" ><img src="_images/paletteicon.png" ></a></li>
        <li><a href="http://blog.andrewwalpole.com" ><img src="_images/talkicon.png" ></a></li>
        <li><a href="http://www.twitter.com/walpolea" ><img src="_images/twittericon.png" ></a></li>
        <li><a href="http://www.linkedin.com/in/andrewwalpole/" ><img src="_images/linkedinicon.png" ></a></li>
        <li><a href="javascript:void(0)" onclick="scrollTo('lifeSection');" ><img src="_images/hearticon.png" ></a></li>
    </ul>
</div>

    <div id="mainSection" class="section">
    	<div id="mainframe">
        	<div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div id="navcard" class="card" >
                            <div class="content-container">
                                <div id="header">
                                    <div class="header-text">Andrew Walpole</div><div id="joystick"><img src="_images/joystick.png"></div><div class="header-text">Interactive Developer</div>
                                </div>
                                <div id="nav">
                                    <ul>
                                        <li><a href="javascript:void(0)" onclick="scrollTo('resumeSection');" onMouseOver="setDesc('resumé');" onMouseOut="setDesc('');" ><img src="_images/brainicon.png" ></a></li>
                                        <li><a href="javascript:void(0)" onclick="scrollTo('workSection');" onMouseOver="setDesc('work');" onMouseOut="setDesc('');" ><img src="_images/gearicon.png" ></a></li>
                                        <li><a href="http://art.andrewwalpole.com/preview" onMouseOver="setDesc('art');" onMouseOut="setDesc('');" ><img src="_images/paletteicon.png" ></a></li>
                                        <li><a href="http://blog.andrewwalpole.com" onMouseOver="setDesc('blog');" onMouseOut="setDesc('');" ><img src="_images/talkicon.png" ></a></li>
                                        <li><a href="javascript:void(0)" onMouseOver="setDesc('walpolea [at] gmail [dot] com');" onMouseOut="setDesc('');"><img src="_images/aticon.png" ></a></li>
                                        <li><a href="http://www.twitter.com/walpolea" onMouseOver="setDesc('@walpolea');" onMouseOut="setDesc('');"><img src="_images/twittericon.png" ></a></li>
                                        <li><a href="http://www.linkedin.com/in/andrewwalpole/" onMouseOver="setDesc('linkedIn');" onMouseOut="setDesc('');"><img src="_images/linkedinicon.png" ></a></li>
                                        <li><a href="javascript:void(0)" onclick="scrollTo('lifeSection');" onMouseOver="setDesc('life');" onMouseOut="setDesc('');"><img src="_images/hearticon.png" ></a></li>
                                    </ul>
                                </div>
                                <div class="description-text"></div>
                            </div>
                            <div id="nav-flip-button" onClick="flipNav();" ng-click="initSlider();"></div>
                        </div>
                    </div>
                    <div class="back">
                        <div id="portfoliocard" class="card">
                            <div id="portitem{{$index}}" ng-repeat="item in portfolio" class="portitem hidden">
                                
                                <div id="portcontent">
                                    <a href="{{item.link}}" target="_blank"><img src="_portfolio/{{item.image}}" ></a>
                                </div>
                                <div id="portinfo">
                                        <div class="content-title-text">{{item.title}}</div>
                                        <div class="content-info-text">{{item.description}}</div>
                                </div>
                                
                            </div>
                            <div id="port-flip-button" onClick="flipPort();" ng-click="stopSlider();"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="resumeSection">
    
        <div class="sectionHeader">Resumé</div>
    
        <div id='resume-content'>
            <div class="resume-section row">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="medium-10 small-centered columns" style="margin-bottom:15px;">
                            <span class="header-text">Andrew Walpole</span>
                            <span id="joystick"><img src="_images/joystick.png"></span>
                            <span class="header-text">Interactive Developer</span>
                        </div>
                    </div>
                    <div id="resume_contact" class="row">
                        <div class="medium-12 columns clearfix">
                            <div class="left">San Diego, CA</div>
                            <div class="right">(541) 331-3770, <a href="mailto:walpolea@gmail.com">walpolea@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        	
            <div id="availability" class="resume-section row">
                <ul>
                	<div class="header-text medium-12 columns">Current Availability</div>
                	<div class="medium-6 columns">
                    	<li class="not_available">Full-Time Employment</li>
                        <li class="not_available">Part-Time Employment</li>
                    </div>
                    <div class="medium-6 columns">
                        <li class="available">Freelancing</li>
                        <li class="available">Consulting</li>
                    </div>
                </ul>
            </div>
            <div id="summaryofqualifications" class="resume-section row">
                <div class="header-text medium-12 columns">tl;dr</div>
                <ul>
                    <div class="medium-6 columns">
                        <li>11+ years software engineering / web development</li>
                        <li>9+ years print, digital and web design</li>
                        <li>User experience designer and solver of problems</li>
                    </div>
                    <div class="medium-6 columns">
                        <li>Startup and entrepreneurial experience</li>
                        <li>Team leadership and managerial experience</li>
                        <li>Advocate of lean thinking and the innovation process</li>
                    </div>
                </ul>
            </div>
            <div id="education" class="resume-section row">
                <div class="header-text medium-12 columns">Education</div>
                <div class="resume_content medium-12 columns">
                    <div class="section-item clearfix">
                        <img src="_images/badges/ai.png" class="badgeicon left" />
                        <div>The Art Institute of California - San Diego - San Diego, California</div>
                        <div><span class="resumebold">Bachelor of Science in Interactive Media Design</span> (October 2005 - June 2008)</div>
                    </div>
                    <div class="section-item clearfix">
                        <img src="_images/badges/oit.png" class="badgeicon left" />
                        <div>Oregon Institute of Technology - Klamath Falls, Oregon</div>
                        <div><span class="resumebold">Associate of Engineering Degree in Software Engineering Technology</span> (June 2005)</div>
                    </div>
                </div>
            </div>
           
            <div id="jobexperience" class="resume-section row">
                <div class="header-text medium-12 columns">Career</div>
                <div class="resume_content medium-12 columns">
                    <div class="section-item clearfix">
                        <img src="_images/badges/jack.png" class="badgeicon left" />
                        <div>Jack in the Box, Inc. &#8211; San Diego, California</div>
                        <div><span class="resumebold">Manager, Innovation Technology Development, Jack's University</span> (January 2013 to present)</div>
                        <ul class="experience-list">
                            <li>Using technology to promote and foster a learning environment in field and corporate operations.</li>
                            <li>Creating a flexible and scalable computer-based training environment with standardized web technologies.</li>
                            <li>Defining innovation through the lens of a large corporate learning organization.</li>
                        </ul>
                    </div>
                    
                    <div class="section-item">
                        <div class="clearfix">
                            <img src="_images/badges/jack.png" class="badgeicon left" />
                            <div>Jack in the Box, Inc. &#8211; San Diego, California</div>
                            <div><span class="resumebold">Interactive Developer</span> (March 2009 to January 2013)</div>
                        </div>
                        <ul class="experience-list">
                            <li>Developed Flash-based components and customized JSFL and Flash panel plug-ins to support computer-based training development.</li>
                            <li>Computer-based training development and deployment.</li>
                            <li>Developed AIR application and framework to auto-generate visual product build job-aids.</li>
                        </ul>
                    </div>
                    
                    <div class="section-item">
                        <div class="clearfix">
                            <img src="_images/badges/icc.png" class="badgeicon left" />
                            <div>Intercasting Corp. &#8211; La Jolla, California</div>
                            <div><span class="resumebold">Flash Engineer</span> (September 2007 to March 2009)</div>
                        </div>
                        <ul class="experience-list">
                            <li>Developed Flash Lite applications for Flash Lite 2.x enabled mobile devices.</li>
                            <li>Developed widgets for the <a href="http://www.chumby.com">Chumby</a> in Flash Lite</li>
                        </ul>
                    </div>
                    
                    <div class="section-item">
                        <div class="clearfix">
                            <img src="_images/badges/icc.png" class="badgeicon left" />
                            <div>Intercasting Corp. &#8211; La Jolla, California</div>
                            <div><span class="resumebold">Web Designer</span> (October 2006 to September 2007)</div>
                        </div>
                        <ul class="experience-list">
                            <li>Collaborated with a team to maintain a smooth front and back-end web integration.</li>
                            <li>Created new and edited existing web content via XHTML, CSS, XSLT, Flash and Javascript.</li>
                            <li>Created graphics for web and print via Photoshop and Illustrator while adhering to corporate branding strategies.</li>
                            <li>Developed Flash Lite application demos for Flash Lite enabled mobile devices.</li>
                        </ul>
                    </div>
                    
                    <div class="section-item">
                        <div class="clearfix">
                            <img src="_images/badges/ai.png" class="badgeicon left" />
                            <div>The Equipment Cage at The Art Institute of California &#8211; San Diego - San Diego, California</div>
                            <div><span class="resumebold">Cage Student Technician</span> (April 2006 to October 2006)</div>
                        </div>
                        <ul class="experience-list">
                            <li>Built and maintained web-based barcode checkout system through PHP and MySQL practices.</li>
                            <li>Worked with a team to maintain inventory and condition of electronic equipment.</li>
                        </ul>
                    </div>
                    
                    <div class="section-item">
                        <div class="clearfix">
                            <!--<img src="_images/badges/icc.png" class="badgeicon left" />-->
                            <div>i-SAFE America, Inc &#8211; Carlsbad, California</div>
                            <div><span class="resumebold">Data Entry Technician</span> (June to September 15, 2005)</div>
                        </div>
                        <ul class="experience-list">
                            <li>Entered data into the company database via GoldMine.</li>
                            <li>Maintained data integrity by verifying information contained in the database using existing online databases.</li>
                            <li>Wrote spider scripts to harvest public school contact data online</li>
                        </ul>
                    </div>
                    
                    <div class="section-item">
                        <div class="clearfix">
                            <img src="_images/badges/napster.png" class="badgeicon left" />
                            <div>Napster &#8211; San Diego, California</div>
                            <div><span class="resumebold">Engineering Intern</span> (July 26 to September 3, 2004)</div>
                        </div>
                        <ul class="experience-list">
                            <li>Wrote Perl scripts to manipulate and load xml data into an SQL database.</li>
                            <li>Created a perl script to resize CD cover images using ImageMagik</li>
                            <li>Troubleshot a batch processing system importing music content through the use of YASL and HTML.</li>
                        </ul>
                    </div>
                </div>
            </div>
                
            <div id="otherexperience" class="resume-section row">
                <div class="header-text medium-12 columns">Other Experience</div>
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="resumebold">Web Design and Interactive Solutions</div>
                        <ul id="triple">
                            <li>Flash Professional</li>
                            <li>Flash Builder</li>
                            <li>HTML5</li>
                            <li>CSS</li>
                            <li>Dreamweaver / Sublime Text / Brackets</li>
                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>Video Editing / After Effects</li>
                        </ul>
                    </div>
                    <div class="medium-6 columns">
                        <div class="resumebold">Programming</div>
                        <ul>
                            <li>ActionScript 3.0</li>
                            <li>PHP &amp; MySQL</li>
                            <li>JavaScript</li>
                            <li>Processing</li>
                            <li>Some C++ &amp; Java</li>
                            <li>APIs</li>
                            <li>Object-Oriented Programming</li>
                            <li>Advanced Data Structures</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="resumebold">Frameworks</div>
                        <ul>
                            <li>JQuery</li>
                            <li>CreateJS</li>
                            <li>Adobe AIR for Desktop &amp; Mobile</li>
                            <li>ZURB Foundation</li>
                            <li>Bootstrap</li>
                            <li>Google Maps API</li>
                            <li>AngularJS</li>
                            <li>NoSQL / JSON Data Stores</li>
                        </ul>
                    </div>
                    <div class="medium-6 columns">
                        <div class="resumebold">Operating Systems and Other Applications</div>
                        <ul>
                            <li>Windows</li>
                            <li>Mac OS</li>
                            <li>Unix/Linux</li>
                            <li>Microsoft Office Suite (Word, Excel, Powerpoint, etc.)</li>
                            <li>Visual Studio .NET</li>
                            <li>Subversion / Git / GitHub</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        
            <div id="perosnalprofile" class="resume-section row">
                <div class="header-text medium-12 columns">Personal Profile</div>
                <div class="medium-12 columns">
                     <p>Ability to understand projects from multiple perspectives, including design, programming, and marketing. Building project plans based on team discussion and outside constraining factors. Excellent problem solving skills along with the ability to obtain resources on an individual level. Not limited by current knowledge; always willing to take on new skill sets to complete a job. Able to communicate ideas effectively as well as listen to ideas when they are given. Maintains a continuous learning attitude.</p>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="section" id="workSection">
        <div class="sectionHeader">Work</div>
        <ul id="work-content">
            <div id="work-portitem{{$index}}" ng-repeat="item2 in portfolio" class="project-item">
                <a href="{{item2.link}}" target="_blank" class="project-img"><img src="_portfolio/{{item2.image}}"></a>
                <div class="project-info">
                        <div class="project-title">{{item2.title}}</div>
                        <div class="project-desc">{{item2.description}}</div>
                </div>
            </div>
        </ul>
    </div>
    
    <div id="lifeSection" class="section">
        <div id='life-content'>
            <span>10/09/2013</span>
        </div>
    </div>
    <script src="_js/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>
