.blog-list {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  max-height: 80vh;
  .blog-list-item {
    width: 100%;
    a {
      color: var(--accent-color);

      text-decoration: none;

      .post-content {
        h3,
        h4 {
          // font-family: "Raleway" !important;
          font-style: normal;
          margin-block: 0.5rem;
        }
      }

      img {
        max-width: 100%;
      }

      &:hover,
      &:active,
      &:focus {
        color: var(--fg-color);
      }
    }
  }
}
