<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  </head>
  <body data-scroll-locked>
    {{ content | safe }}
    <script type="module" src="/assets/main.js"></script>
  </body>
</html>