<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{site.defaultTitle}}</title>
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
    <script src="assets/main.js"></script>
  </body>
</html>