<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link rel="prefetch" as="image" href="https://andrewwalpole.s3-us-west-1.amazonaws.com/art/1600/art_1600_136.png"/>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{site.defaultTitle}}</title>
    {% endif %}
  </head>
  <body data-scroll-locked>
    {{ content | safe }}
    <script src="/assets/main.js"></script>
    <script src="/assets/themer.js"></script>
  </body>
</html>