<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  </head>
  <body >
    <main>
{% include "../_includes/mini-header.njk" %}

    <section class="blog" data-theme="peachtree">

      {% if tags %}
        <div class="likes" v-scope="likes({ title:'{{page.fileSlug}}' })"></div>
      {% endif %}

      <section class="blog-container">
        {% if tags %}
          <a href="/blog">back to blog</a>
        {% endif %}
        {{ content | safe }}

        {% if tags %}
          <hr>
          <a href="/blog">read more articles</a>
        {% endif %}


      </section>
    </section>
    
{% include "../_includes/footer.njk" %}

    </main>

    <script type="module" src="/assets/main.js"></script>
  
  </body>
</html>