* {
	margin:0;
	padding:0;
}

body {
	background-color:#161616;
	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	color:#ffffff;
}

h1 {
	margin-bottom:12px;
	text-align:right;
}

h2 {
	margin-bottom:8px;
	font-style:normal;
	color:#b7d93d;
}

h3 {
	margin-bottom:5px;
	color:#93a651;
}

p {
	margin:10px 0;
}

#header {
	margin:0 auto 20px auto;
	
	height:250px;
	width:990px;
}

#header #leftbar {
	margin-top:75px;

	height:77px;
	width:390px;
	
	background:url('/v4/images/bar_bg.png') repeat-x;
	
	float:left;
}

#leftbar #barcap {
	width:36px;
	height:77px;
	float:left;
	background:url('/v4/images/bar_cap.png') no-repeat;
}

#leftbar #barname {
	margin:19px 0;
	float:left;
}

#leftbar #bar_leftend {
	background:url('/v4/images/bar_leftend.png') no-repeat;
	float:right;
	
	height:77px;
	width:28px;
}

#header #nav {
	padding:0 6px;
	height:250px;
	width:192px;
	
	background-color:#161616;
	
	float:left;
}

#header #nav a {
	display:block;
	text-align:center;
	
	margin:0 2px 2px 2px;
	padding:2px;
	
	background-color:#ffffff;
	font-style:italic;
	text-decoration:none;
	color:#161616;
	
	width:40px;
	float:left;
}

#header #nav a:hover {
	background-color:#b7d93d;
}

#header #nav #nav_blog {
	height:230px;
}

#nav #nav_blog .navtext {
	margin-top:215px;
}

#header #nav #nav_work {
	height:242px;
}

#nav #nav_work .navtext {
	margin-top:227px;
}

#header #nav #nav_resume {
	height:222px;
}

#nav #nav_resume .navtext {
	margin-top:207px;
}

#header #nav #nav_contact {
	height:236px;
}

#nav #nav_contact .navtext {
	margin-top:221px;
}

a .navtext {
	text-align:center;
	height:15px;
}

#header #nav .navon {
	background-color:#b7d93d;
}

#header #rightbar {
	margin-top:75px;

	height:77px;
	width:390px;
	background:url('/v4/images/bar_bg.png') repeat-x;
	
	float:left;
}

#rightbar #bar_rightend {
	background:url('/v4/images/bar_rightend.png') no-repeat;
	
	height:77px;
	width:28px;
	
	float:left;
}

#rightbar #bar_contactinfo {
	margin:22px 0;
	float:right;
}


#bar {
	position:absolute;
	top:75px;
	left:50%;
	width:50%;
	height:77px;
	background:url('/v4/images/bar_bg.png') repeat-x;
	
	z-index:-1;
}

#content {
	margin:0 auto;
	padding:25px;

	width:700px;
	
	font-style:none;
	font-size:14px;
	line-height:1.8em;
}

#content a {
	color:#b7d93d;
}

#content a:visited {
	color:#b7d93d;
}

.postdate {
	margin-right:25px;
	font-size:11px;
	text-align:right;
	color:#b7d93d;
}

.postdivide {
	margin:10px 0 20px 0;
	width:100%;
	border-bottom:1px dashed #b7d93d;
}